$background: #dcbb9a; //back 1 
$contentCol: #ffffff; //content color
$headersCol: #893c00; // headers and shadows
$textCol: #000000; //text color in main content
$educationCol: #fadcba; // education and sciene color
$tableCapCol: #000000; //color of table caption
$thCol: #e0e0e0;//table's headers 
$tableCol: #ffffff; // table color
$input: #808080; //forms' color
$butCol: #3d70a1;  // button color
$linkCol: #3d70a1; //link's color
$briefCol: $textCol;
$widthBrief: 390px;
$briefFloat: left;
$margBot: 0;