$background: rgba(198, 238, 252, 0.53); //back 2 
$contentCol: #3b3b3b;   //main content's bg
$headersCol: #fccd10;   // headers and shadows
$textCol: white;        //color of text
$educationCol: #fff178; // education and sciene color
$tableCapCol: #000000;  //color of table caption
$thCol: #94a34e;    //table's headers 
$tableCol: #677d01; // table headers and input forms
$input: #f5c70f;    // forms' color
$butCol: #f5c70f;   // button color
$linkCol: #f5c70f;  //link's color
$briefCol: black;
$widthBrief: 930px;
$briefFloat: none;
$margBot: 30px;